<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.airport.flightsschedule.flightstatus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9767744518035218~8392925600" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FlightDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".activities.ArrivalsDeparturesActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".activities.ExitActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>